github "jack8525/SZKit"
#github "AFNetworking/AFNetworking" ~> 3.0
#github "SnapKit/Masonry"
#github "hackiftekhar/IQKeyboardManager"
#github "banchichen/TZImagePickerController"
#github "rs/SDWebImage"
#github "ibireme/YYKit"
#github "soffes/SAMKeychain"
#github "ruslanskorb/RSKImageCropper"
#github "WenchaoD/FSCalendar"
#github "ViccAlexander/Chameleon"